<div>
    <div class="card background-gray p-3 rounded-border text-white pulse" style="width: 20rem;">
      <img class="card-img-top rounded img-fluid" src="<%= nft.image %>" alt="Card image cap" />
      <div class="card-body p-0">
        <div class="row my-3">
          <div class="col-3">
          <img class="rounded img-fluid" src="<%= nft.profile %>" alt="Card image cap" />
          </div>
          <div class="col-6 pl-0">
              <p class="h6 my-0 font-clash"><%= nft.name %></p>
              <p class="my-0"><%= nft.user %></p>
          </div>
          <div class="col-3">
          <img class="img-fluid" src=<%= nft.currency %> alt="Card image cap" />
          </div>
        </div>
        <div class="row my-2">
          <div class="col-4">
          <p class="h6 my-0 font-clash">6.73 ETH</p>
              <p class="my-0">Latest Bid</p>
          </div>
          <div class="col-4">
          <p class="h6 my-0 font-clash">1.55 ETH</p>
              <p class="my-0">From</p>
          </div>
          <div class="col-4">
          <p class="h6 my-0 font-clash">$9945.1</p>
              <p class="my-0 green">+3.571%</p>
          </div>
        </div>
      </div>
    </div>
  </div>