<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header')%>
  </head>
  <body>
    <%- include('partials/navbar', { navLinks: constants.navLinks }) %>
    <div class="paddingX background-dark pb-10 w-100 mx-auto">
      <%- include('home/hero')%> <%- include('home/topNfts', { nfts:
      constants.cardData }) %> <%- include('home/topCategories', { categories:
      constants.topCategories }) %> <%- include('partials/support') %>
    </div>
    <%- include('partials/footer', { navLinks: constants.navLinks }) %>
  </body>
</html>